<!doctype html>
<html lang="pt-BR">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Mensagem enviada!</title>
  <link rel="icon" href="/static/check-circle.gif">
  <link rel="stylesheet" href="/static/css/sucesso.css">
</head>

<body>
  
  <div id="w">
    <div id="content">
      
      <div class="notify successbox" action="/sucesso" method="GET">
        <h1>Desculpa, mas houve um erro!</h1>
        <span class="alerticon"><a href="index.html"><img src="/static/atenção.gif" alt="checkmark do icon8" style="height: 192px; width= 192px"></a></span></span>
        <p>Tente enviar a mensagem outra vez. Dessa vez lembre de responder todos os campos, por favor! :) </p><br>

        <p> Clique na imagem e você será direcionado para a página principal!</p>
      </div>



    </div><!-- @end #content -->
  </div><!-- @end #w -->

</body>
</html>