<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Currículo Charlante</title>
        <meta name="description" content="Meu currículo pessoal.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/int.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarala&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="./static/curriculum-vitae.png"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    </head>



    <body>

  <div class="parent">

  <div class="sidebar">

    <div class="sidebar-pos"></div>

      <div class="img-sidebar">
            <img src="../static/gabriel-foto.jpeg" class="picture" alt="Foto Gabriel Charlante">
      </div>

      <div class="menu">
              <a href="index.html">Sobre</a>
              <a href="educacao.html">Educação</a>
              <a href="experiencia.html">Experiência</a>
              <a href="habilidades.html">Habilidades</a>
              <a class="selected" href="interesse.html">Interesses</a>
              <a href="contato.html">Contato</a>
              

      </div><!--menu-->
    </div><!--sidebar-pos-->

  </div><!--sidebar-->

       <main class="content">

        <section class="descricao">
          
          <h3> <span> Áreas de interesse </span> </h3><br /><br />
          <p><span>Desenvolvimento de Software Web: </span></p><p>Desenvolvimento Fullstack/Beckend/Frontend de softwares. </p><br><br />

          <p><span>Desenvolvimento de Software Mobile: </span></p> <p> Desenvolvimento de aplicativos e jogos mobile.</p><br />

          <p><span>Desenvolvimento de jogos digitais: </span></p> <p> Desenvolvimento de jogos Web, mobile e plataformas.</p><br />

          <p><span>Inteligência Artificial: </span></p> <p>Desenvolvimento de inteligências voltadas a automatização industrial.</p><br />



        </section><!--descricao-->

       </main><!--content-->

       </div><!--parent-->
       <footer>
           
       </footer>
    </body>

</html>