<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
    <link rel="stylesheet" href="static\css\bootstrap.min.css">
    <link rel="stylesheet" href="static\css\tabela.css">
</head>


<body>


    <header class="grid text-center row navbar navbar-dark">
            
        <h1 class="g-col-4 text-center align-midle">Bem-vindo a sua tabela de mensagens!!!</h1>

        <h3 id="user">{{nome}}</h3>
        
        <button id="logout" class="btn btn-light"><a href="/logout" style="text-decoration: none; font-weight: bold;">Sair</a></button>

    </header>

   

    <div class="container text-center">



        <main class="row">

            <h2 id="d" class="col"> Aqui estão os dados dos contatos: </h2><br>


    {% if dic != '' %}

    <table class="table table-dark table-striped-columns">
        <thead>
          <tr>
            <th scope="col" class="text-center text-danger bg-dark">Nome</th>
            <th scope="col" class="text-center text-primary bg-dark">Email</th>
            <th scope="col" class="text-center text-success bg-dark ">Assunto</th>
            <th scope="col" class="text-center text-warning bg-dark">Mensagem</th>
            <th scope="col" class="text-center text-info bg-dark ">Data e horário</th>
          </tr>
        </thead>


        <h3 id="c" class="text-dark">Tabela de mansagens</h3>

            {% for i in dic %}

                
                <tbody>
                  <tr>
                    <td class="text-center align-middle">{{i["nome"]}}</td>
                    <td class="text-center align-middle">{{i["email"]}}</td>
                    <td class="text-center align-middle">{{i["assunto"]}}</td>
                    <td class="text-center align-middle">{{i["mensagem"]}}</td>
                    <td class="text-center align-middle">{{i["dt"]}}</td>
                  </tr>
                </tbody>
              


            {% endfor %}

        </table>



            <form action="/tabela" method="POST">
                <input id="btn-excluir" class="btn btn-danger" type="submit" value="Excluir mensagens" >
            </form>


        {% else %}

        <p id="n" class="text-danger">Não há mensagens na sua tabela!</p>

        {% endif %}


        </main>

        <footer>

        </footer>
    </div>
    


    <script src="static/bootstrap.bundle.min.js"></script>
</body>
</html>